* {
  margin: 0;
  padding: 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body {
  background-color: #212529;
}
.container {
  display: flex;
  flex-direction: row;
  place-content: center;
  margin-top: 40px;
}
.title{
  color: white; 
  margin-right: 70px;

}
.grid {
  width: 280px;
  height: 540px;
  display: grid;
  grid-template-columns: repeat(11,1fr) ;
  overflow: hidden;
  flex-wrap: wrap;
  border-radius: 4px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.grid div {
  background-color: #343a40;
  border: 1px solid #212529;
}

.base {
  background-color:#778da9;
  border: none !important;
}

.section {
  margin-left: 50px;
}
.mini-grid {
  width: 120px;
  height: 120px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 100px;
  box-shadow: -10px -10px 20px rgba(0, 0, 0, 0.2);
}

.mini-grid div {
  background-color: #343a40;
  border: 1px solid #212529;
}

.tetromino {
  border-radius: 3px;
  border: 1px solid transparent;
}

.score-board{
  color:#fff;
  justify-content: center; 
}

.button-9 {
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  height: 44px;
  margin: 12px 0 0;
  outline: none !important;
  padding: 0 25px;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 100%;
}


.button-9:focus {
  outline: none;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

.controls{
  color: gray;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.controls > p{
  margin-top: 6px;
  align-items: end;
}
